body {
	font-family: 'Mulish', sans-serif;
	margin:30px;
	background: black;
	color: white;
}
	/* body {
		-epub-hyphens:auto;
	} */



a.goto{
	color:white;
	text-decoration:none;
	font-weight: bold;
}


.navbar {
	margin-left: auto;
	margin-right: auto;
  width: 100%;
  overflow: auto;
}

/* Navigation links */
.navbar a {
	margin-left: auto;
	margin-right: auto;
  float: left;
  /* padding: 3px; */
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

p.Basic-Paragraph {
	color:#ffffff;
	font-family: 'Mulish', sans-serif;
	font-size:12px;
	/* font-style:normal;
	font-variant:normal;
	font-weight:normal; */
	/* line-height:1.2; */
	margin:0;
	text-align:left;
	/* margin-left:0;
	margin-right:0;
	margin-top:0; */
	/* orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1; */
}
span.italic {
	color:#ffffff;
	font-family: 'Mulish', sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
}
span.normal{
	color:#ffffff;
	font-family: 'Mulish', sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:300;
}


#rendezvous_210_140{
	align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#rendezvous_140_105{
	align: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
#rendezvous_huddle, #rendezvous_journey{
	align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#rendezvous_30_23{
	align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#rendezvous_100_80{
	align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#to_the_peak_40_50{
	align: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}


	/*
	#_idContainer000 {
		display:inline-block;
		height:734px;
		width:1101px;
	}
	#_idContainer002 {
		display:inline-block;
		height:661px;
		width:1101px;
	}
	#_idContainer004 {
		display:inline-block;
		height:735px;
		width:1007px;
	}
	#_idContainer006, #_idContainer008, #_idContainer010 {
		display:inline-block;
		height:727px;
		width:551px;
	}
	#_idContainer012 {
		display:inline-block;
		height:583px;
		width:790px;
	}
	#_idContainer014 {
		display:inline-block;
		height:727px;
		width:884px;
	}
	#_idContainer017 {
		display:inline-block;
		height:727px;
		width:1045px;
	}
	#_idContainer019 {
		display:inline-block;
		height:727px;
		width:706px;
	}
	#_idContainer020 {
		display:inline-block;
		height:607px;
		width:766px;
	}
	#_idContainer022 {
		display:inline-block;
		height:612px;
		width:766px;
	}
	#_idContainer024, #_idContainer026, #_idContainer028, #_idContainer030, #_idContainer032, #_idContainer034, #_idContainer036, #_idContainer038, #_idContainer040, #_idContainer042, #_idContainer044, #_idContainer046, #_idContainer048, #_idContainer050, #_idContainer052, #_idContainer054, #_idContainer056, #_idContainer058, #_idContainer060, #_idContainer062, #_idContainer064, #_idContainer067, #_idContainer070, #_idContainer072, #_idContainer074, #_idContainer076, #_idContainer078, #_idContainer081, #_idContainer084, #_idContainer086, #_idContainer088, #_idContainer091, #_idContainer093, #_idContainer096 {
		display:inline-block;
		height:521px;
		width:518px;
	}
	#_idContainer098 {
		display:inline-block;
		height:479px;
		width:480px;
	}
	#_idContainer100 {
		display:inline-block;
		height:770px;
		width:612px;
	}
	#_idContainer102 {
		display:inline-block;
		height:769px;
		width:614px;
	}
	#_idContainer104 {
		display:inline-block;
		height:631px;
		width:767px;
	}
	#_idContainer106 {
		display:inline-block;
		height:718px;
		width:719px;
	}
	#_idContainer108 {
		display:inline-block;
		height:866px;
		width:754px;
	}
	#_idContainer110 {
		display:inline-block;
		height:770px;
		width:770px;
	}
	#_idContainer112 {
		display:inline-block;
		height:650px;
		width:819px;
	}
	#_idContainer114 {
		display:inline-block;
		height:816px;
		width:620px;
	}
	#_idContainer116, #_idContainer119, #_idContainer121, #_idContainer123, #_idContainer125, #_idContainer127, #_idContainer129, #_idContainer131, #_idContainer133, #_idContainer136, #_idContainer138, #_idContainer141 {
		display:inline-block;
		height:437px;
		width:444px;
	}
	#_idContainer144 {
		display:inline-block;
		height:656px;
		width:554px;
	}
	#_idContainer146 {
		display:inline-block;
		height:688px;
		width:581px;
	}
	#_idContainer148 {
		display:inline-block;
		height:668px;
		width:564px;
	}
	#_idContainer150, #_idContainer152, #_idContainer154, #_idContainer156, #_idContainer158, #_idContainer160, #_idContainer162, #_idContainer164, #_idContainer166, #_idContainer168 {
		display:inline-block;
		height:540px;
		width:456px;
	}
	#_idContainer170, #_idContainer172 {
		display:inline-block;
		height:401px;
		width:456px;
	}
	#_idContainer174, #_idContainer176, #_idContainer178, #_idContainer180, #_idContainer182 {
		display:inline-block;
		height:566px;
		width:414px;
	}
	#_idContainer184, #_idContainer186, #_idContainer187 {
		display:inline-block;
		height:342px;
		width:343px;
	}
	#_idContainer189 {
		display:inline-block;
		height:496px;
		width:497px;
	}
	#_idContainer191 {
		display:inline-block;
		height:506px;
		width:497px;
	}
	#_idContainer193 {
		display:inline-block;
		height:590px;
		width:591px;
	}
	#_idContainer195, #_idContainer196, #_idContainer197, #_idContainer198, #_idContainer199, #_idContainer200 {
		display:inline-block;
		height:364px;
		width:326px;
	}
	#_idContainer201 {
		display:inline-block;
		height:389px;
		width:265px;
	}
	#_idContainer202 {
		display:inline-block;
		height:389px;
		width:302px;
	}
	#_idContainer203 {
		display:inline-block;
		height:389px;
		width:282px;
	}
	#_idContainer204, #_idContainer207 {
		display:inline-block;
		height:389px;
		width:326px;
	}
	#_idContainer205, #_idContainer206, #_idContainer208, #_idContainer209 {
		display:inline-block;
		height:389px;
		width:318px;
	}
	#_idContainer210, #_idContainer211, #_idContainer212 {
		display:inline-block;
		height:464px;
		width:333px;
	} */

/* img._idGenObjectAttribute-1 {
	height:20px;
	max-width:100%;
	object-fit: contain;
}

div._idGenObjectStyleOverride-1 {
	height:50%;
	align-items: center;
}

div._idGenObjectLayout-1 {
	width:100%;
	align-items: center;
} */



.column {
	margin: auto;
	/* border: 3px solid green; */
	/* align: center; */
  flex: 100%;
  max-width: 100%;
	align-items: center;

}

.column img {

	display:inline-block;
	/* vertical-align:top; */
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
  /* align: center; */
	display: block;
  width: 90%;
}

/* .column Basic-Text-Frame{

} */

div.Basic-Text-Frame {
	display:inline-block;
	margin-bottom: 30px;
	align: right;
}



@media screen and (max-width: 600px) {
	#rendezvous_140_105{
		align: center;
		width: 100%;
	}
	#rendezvous_210_140{
		align: center;
		width: 100%;
	}
	#rendezvous_rendezvous,#rendezvous_propose,#rendezvous_blessing,#rendezvous_wedding_day{
		align: center;
		width: 100%;

	}
	#rendezvous_huddle, #rendezvous_journey{
		align: center;
		width: 100%;

	}

	#rendezvous_30_23{
		align: center;
		width: 100%;

	}

	#rendezvous_100_80{
		align: center;
		width: 100%;

	}
	#to_the_peak_40_50{
		align: center;
		width: 100%;
	}

  .navbar a {
    float: left;
    display: block;
		padding: 7px;
    width: 25%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }

	.column {
		align-items: center;
	  flex: 100%;
	  max-width: 100%;
	}

	.column img {
	  margin-top: 10px;
	  align: center;
	  width: 100%;
	}

}
